# Игнорирование служебных файлов и папок окружения
.git
.gitignore
.venv
venv
__pycache__
*.pyc
*.log
.DS_Store
build/
dist/
*.egg-info/

# Игнорирование runtime-файлов и пользовательских данных
# Эти данные должны быть смонтированы через Docker Volume
data/app.db
data/user_uploads/
data/processed_files/